<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}

    <!-- 导航栏 -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/report_manage/">Guest Manage System</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/report_manage/">发布会</a></li>
                    <li><a href="/guest_manage/">嘉宾</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{user}}</a></li>
                    <li><a href="/logout/">退出</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <!--添加发布会表单-->
    <div class="row" style="margin-top: 80px;">
        <div class="page-header">
            <h3 style="margin-left: 150px;"> 添加发布会 </h3>
        </div>

        <div class="col-md-6" style="width: 800px;">

            <form class="form-horizontal" role="form" method="post" style="margin-left: 30px;">

                <div class="form-group">
                    <label for="firstname" class="col-sm-2 control-label">TAPD单号:</label>
                    <div class="col-sm-10">
                        {{ form.tapd_id }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">标题:</label>
                    <div class="col-sm-10">
                        {{ form.name }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">状态:</label>
                    <div class="col-sm-10">
                        {{ form.status }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">上线时间:</label>
                    <div class="col-sm-10">
                        {{ form.release_time }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">环境:</label>
                    <div class="col-sm-10">
                        {{ form.environment }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">测试人员:</label>
                    <div class="col-sm-10">
                        {{ form.tester }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">开发人员:</label>
                    <div class="col-sm-10">
                        {{ form.developer }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">Project:</label>
                    <div class="col-sm-10">
                        {{ form.project }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">Comments:</label>
                    <div class="col-sm-10">
                        {{ form.comments }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">新增时间:</label>
                    <div class="col-sm-10">
                        {{ form.create_time }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <p style="color:green">{{ success }}</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">提交</button>
                    </div>
                </div>
                {% csrf_token %}
            </form>

        </div>
    </div>


{% endblock %}