<!DOCTYPE html>

<html>

<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>利全测试报告提交系统</title>
</head>

<body>
<div class="container" style="width: 330px;">
    <form class="form-signin" method="post" action="/login_action/">
        <h2 class="form-signin-heading">利全测试报告提交系统</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password"  required style="
    margin-top: 10px;">
        <p style="color:red; margin-top: 10px;">{{error}}</p> <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        {% csrf_token %}
    </form>
</div>
</body>

</html>