<!DOCtype html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Title</title>
</head>
<body>
    <form method="post" action="">
        {%csrf_token%}
            <input name="select" type="radio" value='radio'>
            <input name="text" type="text" value="" />
            <input name="time" type="date" value="">
            <input name="submit" type="submit" value="提交" />

        <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <p style="color:green">{{ success }}</p>
                    </div>
                </div>

    </form>
</body>
</html>